<style>
    footer {
        font-size: 0.9rem;
    }
</style>

<footer class="">
    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: #21d192;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left py-3 mb-4 mb-md-0">
                        <h6 class="mb-0 social-media-touch" style="font-size: 1.1rem">Get in touch with us on socia
                            media!</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook white-text fa-2x mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text fa-2x mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text fa-2x mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text fa-2x"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
            <!-- https://i.ibb.co/8MqvY1Q/logo-white.png -->
            <!-- Grid row -->
            <div class="row mt-3 text-dark">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <a href="#"><img src="https://i.ibb.co/Byrxd2h/logo-main.png" class="footer-logo"
                            alt="TravelBuddy Logo"></a>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> South Industrial Zone 12,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Haskovo,
                        Bulgaria 6300</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> maverov@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +359 876 251 218</p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Navigation</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="/">Home</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Explore Trips</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Register</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Login</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!">Terms & Conditions</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Privacy Notice</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Become an Affiliate</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Support Us</a>
                    </p>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">Copyright © <%= new Date().getFullYear();%><br>
            Developed by
            <a class="dark-grey-text" href="http://maverov.tech" target=" _blank"> Hristiyan Maverov</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</footer>



<!-- END BODY / START FOOTER -->

<!-- Bootstrap JS Dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>